@import 'ecm/src/_scss/variables';
@import 'ecm/src/_scss/mixins';
@import '../../_scss/mixins/typography';

.scm-commentary {
  @include screen('md', 'down') {
    padding-bottom: 0;
    border: none;

    &:not(:last-child) {
      padding-bottom: $space-16;
      border-bottom: 1px solid rgb(0 0 0 / 8%);
    }
  }

  @include screen('md', 'up') {
    padding-bottom: $space-24;
    border-bottom: 1px solid rgb(0 0 0 / 8%);
  }
}

.scm-commentary-title {
  @include vw-text-sm;

  font-weight: bold;
  color: $color-gray-1;

  @include screen('md', 'up') {
    @include text-base;
  }
}

.scm-commentary-text {
  @include vw-text-12px;

  color: $color-gray-1;

  @include screen('md', 'up') {
    @include text-sm;
  }
}

.scm-commentary-button {
  @include font-default;
  @include text-12px;
  @include colorize-link($color-gray-1 !important);

  border-color: $color-gray-1;

  .ecm-icon-chevron-right {
    margin-left: $space-4;
  }

  @include screen('md', 'up') {
    @include text-xs;

    padding: $space-12 14px;
  }

  &.scm-commentary-button-gray {
    border: none;
    background-color: $color-gray-5;
  }
}

.scm-commentary-more {
  @include text-sm;

  color: $color-gray-1;
  line-height: 1;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 48px;
  padding: 0;
  border: 1px solid $color-gray-1;
  border-radius: 4px;
  box-sizing: border-box;

  @include screen('md', 'up') {
    @include text-sm;

    width: 344px;
  }

  .ecm-icon-chevron-down {
    margin-left: $space-4;
  }

  &.scm-commentary-more-gray {
    border: none;
    background-color: $color-gray-5;
  }
}
