@import '../../_scss/variables';
@import '../../_scss/mixins';

@mixin search-icon {
  font-family: ecm-icon-font !important;
  font-style: normal;
  font-weight: 400 !important;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  vertical-align: top;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

$form-height: 40px;
$keyword-height: 34px;
$keyword-container-height: 42px; // keyword height + 1 unit of margin top

.ecm-search {
  display: flex;
  height: $form-height;
  border: 1px solid $color-crimson;
  border-radius: $space-4;
  background-color: $color-white;
  transition: background-color 0.2s ease;

  @media (hover: hover) {
    &:hover {
      background-color: $color-gray-6;
    }
  }
}

.ecm-search-input-container {
  flex: 1;
  position: relative;
}

.ecm-search-input {
  @include text-sm;

  padding-top: $space-8;
  padding-bottom: $space-8;
  padding-left: $space-8;
  width: 100%;
  height: 100%;
  border: 0;
  background-color: $color-transparent;
  outline: none;
  appearance: none;
  box-sizing: border-box;
}

.ecm-search-select-container {
  flex: 0 0 auto;
  position: relative;
  display: flex;
  flex-direction: row-reverse;
  align-items: center;

  &::before {
    @include search-icon;

    display: block;
    content: '\e91c';
    padding-right: $space-12;
    position: absolute;
  }

  @include screen('md', 'down') {
    &::before {
      font-size: $space-8;
      padding-right: $space-8;
    }
  }
}

.ecm-search-select {
  @include text-xs;

  padding-right: $space-32;
  border: 0;
  background-color: $color-transparent;
  outline: none;
  appearance: none;
  position: relative;
  cursor: pointer;

  @include screen('md', 'down') {
    @include text-10px;

    padding-right: $space-20;
  }

  @include screen('md', 'up') {
    @media (hover: hover) {
      &:hover {
        text-decoration: underline;
      }
    }
  }
}

.ecm-search-submit {
  border: 0;
  background-color: $color-crimson;
  width: $space-40;
  cursor: pointer;
  transition: background-color 300ms ease;

  @media (hover: hover) {
    &:hover {
      background-color: $color-crimson-light;
    }
  }

  .ecm-icon-search {
    @include text-base;

    color: $color-white;
  }
}

.ecm-search-keyword-wrapper {
  position: relative;
}

.ecm-search-keyword-container {
  margin-top: $space-8;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  height: $keyword-container-height;
  overflow: hidden; // hide wrapped keyword to only show 1 row of keywords.

  @include screen('md', 'down') {
    &:not(.ecm-search-keyword-container-list) {
      @include scrollable-x;

      flex-wrap: nowrap;
      height: auto;
    }

    &.ecm-search-keyword-container-list {
      margin: 0;
      padding: 0;
      flex-flow: column;
      align-items: flex-start;
      justify-content: center;
      height: auto;
    }
  }
}

.ecm-search-keyword-label {
  @include text-xs;

  margin-top: $space-8;
  margin-right: $space-8;

  @include screen('md', 'down') {
    position: absolute;
    top: 0;
    left: 0;
    margin: 0;

    &.ecm-search-keyword-label-list {
      display: none;
    }
  }
}

.ecm-search-keyword {
  @include colorize-link($color-gray-1);

  margin-top: $space-8;
  padding: $space-8 $space-12;
  height: $keyword-height;
  border-radius: 32px;
  border: 1px solid #d1d1d1;
  box-sizing: border-box;

  @media (hover: hover) {
    &:hover {
      background-color: #f5f5f5;
      text-decoration: none;
    }
  }

  + .ecm-search-keyword {
    margin-left: $space-8;
  }

  @include screen('md', 'down') {
    &:not(.ecm-search-keyword-list) {
      margin-top: $space-24;
      white-space: nowrap;
      background-color: $color-gray-6;
    }

    &.ecm-search-keyword-list {
      margin-top: 0;
      width: 100%;
      border-radius: 0;
      border: none;
      border-bottom: 1px solid #ebebeb;
      height: $space-48;
      display: flex;
      align-items: center;

      + .ecm-search-keyword {
        margin-left: 0;
        position: relative;
      }

      &::before {
        @include search-icon;

        margin-right: $space-12;
        font-size: $space-20;
        content: '\e9b2';
      }

      &::after {
        @include search-icon;
        @include text-base;

        color: $color-gray-2;
        content: '\e91c';
        position: absolute;
        align-items: end;
        margin-top: -2px;
        right: $space-4;
        transform: rotate(-90deg);
      }

      &:nth-of-type(1)::after {
        right: $space-20;
      }
    }
  }
}
