/**
ecm-icon-font styles all class that starts with "ecm-icon-" so avoid using it as class name.
*/

.grid {
  display: grid;
  gap: 40px 16px;
  grid-template-columns: repeat(5, 1fr);
}

.grid-item {
  display: flex;
  flex-direction: column;
}

.grid-button {
  font-size: 14px;
  font-weight: bold;
  color: #0078b5;
  padding: 16px;
  height: 60px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #fafafa;
  border: 1px solid rgb(0 0 0 / 25%);
  cursor: pointer;
  transition: background-color 300ms ease;
  position: relative;

  i {
    color: #333;
    font-size: 24px;
  }

  .copy {
    opacity: 0;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: opacity 600ms ease;
  }

  .children {
    transition: opacity 300ms ease;
  }

  &:hover {
    background-color: #f7f7f7;

    .children {
      opacity: 0;
    }

    .copy {
      opacity: 1;
    }
  }

  &:focus {
    border: 0;
    outline: 2px solid #0078b5;
  }
}

.grid-label {
  margin-top: 8px;
  font-weight: 500;
  font-size: 14px;
  text-align: center;
}
