@import 'ecm/src/_scss/variables';
@import 'ecm/src/_scss/mixins';

$navi-height: 60px;
$menu-width: 960px;

.scm-floating-navi-container {
  background-color: $color-gray-6;
  border-bottom: none;
}

.scm-floating-navi {
  height: $navi-height;
  width: $menu-width;
  margin-left: auto;
  margin-right: auto;
  background-color: inherit;

  & > *:first-child {
    margin-left: 0;
  }

  & > *:last-child {
    margin-right: 0;
  }
}

.scm-floating-navi-logo {
  display: block;
  width: fit-content;
  margin-right: $space-20;

  @media (hover: hover) {
    &:hover {
      opacity: 0.8;
    }
  }

  img {
    display: block;
  }
}

.scm-floating-navi-button {
  @include colorize-link($color-white !important);
  @include text-base;

  border: 1px solid $color-gray-2;
  background-color: $color-gray-2;
  border-radius: 8px;
  height: fit-content;
  padding: 11px $space-12;
  margin: auto 0 auto auto;
  display: flex;
  justify-content: space-between;
  align-items: center;

  @media (hover: hover) {
    &:hover {
      text-decoration: none;
      color: $color-gray-2 !important;
      background-color: $color-white;
    }
  }

  .ecm-icon-chevron-right {
    @include text-12px;

    margin-left: $space-4;
  }
}

.scm-floating-navi-item {
  @include colorize-link($color-gray-1);
  @include text-base;

  cursor: pointer;
  white-space: nowrap;
  border: 0;
  background-color: transparent;
  padding: 0 $space-16 3px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100%;
  position: relative;

  @media (hover: hover) {
    &:hover {
      font-weight: bold;
      text-decoration: none;
      background-color: $color-gray-5;
    }
  }

  &.scm-floating-navi-item-expand {
    &[aria-expanded='true'] {
      font-weight: bold;
      background-color: $color-gray-5;
    }
  }

  &.scm-floating-navi-item-delimiter {
    margin-right: 1px;
    position: relative;

    &::after {
      content: '';
      display: block;
      background-color: $color-gray-5;
      width: 1px;
      height: 20px;
      position: absolute;
      margin: auto;
      top: 0;
      bottom: 0;
      right: -1px;
    }
  }

  .ecm-icon-chevron-down {
    @include text-12px;

    color: $color-gray-1;
  }
}

.scm-floating-navi-menu {
  top: $navi-height;
  background-color: $color-gray-5;
  width: $menu-width;
  box-sizing: border-box;
  position: absolute;
  left: 0;
  right: 0;
  margin: 0 auto;
  padding: $space-24;
}

.scm-floating-navi-menu-category-name {
  @include text-base;

  font-weight: bold;
}

.scm-floating-navi-menu-category-item {
  @include colorize-link($color-gray-1 !important);
  @include text-sm;
  @include font-default;

  border-bottom: 1px solid $color-gray-1;
  padding: 10px $space-8 10px 0;
  display: flex;
  justify-content: space-between;
  align-items: center;

  .ecm-icon-chevron-right {
    color: $color-gray-1;
    margin-left: $space-4;
  }

  @media (hover: hover) {
    &:hover {
      text-decoration: none;
      background-color: rgb(0 0 0 / 4%);
    }
  }
}
