@import 'ecm/src/_scss/variables';
@import 'ecm/src/_scss/mixins';

.scm-slider-track-rounded {
  img {
    border-radius: 8px;
  }
}

.scm-slider-floating-banner-prev {
  left: 0;
  display: none;

  @include screen('md', 'up') {
    display: flex;
  }
}

.scm-slider-floating-banner-next {
  right: 0;
  display: none;

  @include screen('md', 'up') {
    display: flex;
  }
}
