@import '../../_scss/variables';
@import '../../_scss/mixins';

@include util-lg('bordered') {
  border: 1px solid rgb(0 0 0 / 8%);
}
@include util-lg('bordered-t') {
  border-top: 1px solid rgb(0 0 0 / 8%);
}
@include util-lg('bordered-b') {
  border-bottom: 1px solid rgb(0 0 0 / 8%);
}
@include util-lg('bordered-l') {
  border-left: 1px solid rgb(0 0 0 / 8%);
}
@include util-lg('bordered-r') {
  border-right: 1px solid rgb(0 0 0 / 8%);
}
@include util-lg('divided-y') {
  & > * + * {
    border-top: 1px solid rgb(0 0 0 / 8%);
  }
}
@include util-lg('divided-x') {
  & > * + * {
    border-right: 1px solid rgb(0 0 0 / 8%);
  }
}
@include util-lg('bordered-none') {
  border: none;
}
@include util-lg('bordered-t-none') {
  border-top: none;
}
@include util-lg('bordered-b-none') {
  border-bottom: none;
}
@include util-lg('bordered-l-none') {
  border-left: none;
}
@include util-lg('bordered-r-none') {
  border-right: none;
}

@include util-lg('bordered', true) {
  border: 1px solid rgb(0 0 0 / 8%) !important;
}
@include util-lg('bordered-t', true) {
  border-top: 1px solid rgb(0 0 0 / 8%) !important;
}
@include util-lg('bordered-b', true) {
  border-bottom: 1px solid rgb(0 0 0 / 8%) !important;
}
@include util-lg('bordered-l', true) {
  border-left: 1px solid rgb(0 0 0 / 8%) !important;
}
@include util-lg('bordered-r', true) {
  border-right: 1px solid rgb(0 0 0 / 8%) !important;
}
@include util-lg('divided-y', true) {
  & > * + * {
    border-top: 1px solid rgb(0 0 0 / 8%) !important;
  }
}
@include util-lg('divided-x', true) {
  & > * + * {
    border-right: 1px solid rgb(0 0 0 / 8%) !important;
  }
}
@include util-lg('bordered-none', true) {
  border: none !important;
}
@include util-lg('bordered-t-none', true) {
  border-top: none !important;
}
@include util-lg('bordered-b-none', true) {
  border-bottom: none !important;
}
@include util-lg('bordered-l-none', true) {
  border-left: none !important;
}
@include util-lg('bordered-r-none', true) {
  border-right: none !important;
}
