@import '../../_scss/variables';
@import '../../_scss/mixins';

@include util-lg('whitespace-normal') {
  white-space: normal;
}
@include util-lg('whitespace-nowrap') {
  white-space: nowrap;
}
@include util-lg('whitespace-pre') {
  white-space: pre;
}
@include util-lg('whitespace-pre-line') {
  white-space: pre-line;
}
@include util-lg('whitespace-pre-wrap') {
  white-space: pre-wrap;
}

@include util-lg('whitespace-normal', true) {
  white-space: normal !important;
}
@include util-lg('whitespace-nowrap', true) {
  white-space: nowrap !important;
}
@include util-lg('whitespace-pre', true) {
  white-space: pre !important;
}
@include util-lg('whitespace-pre-line', true) {
  white-space: pre-line !important;
}
@include util-lg('whitespace-pre-wrap', true) {
  white-space: pre-wrap !important;
}
