.iframe-layout {
  overflow: auto;
  background-color: #717171;
  box-sizing: content-box;
  padding: 8px;
  border: 1px solid rgb(0 0 0 / 25%);
  display: flex;
  justify-content: center;
  align-items: center;
}

.iframe {
  border: none;
  background-color: white;
}
