@import '../../_scss/variables';
@import '../../_scss/mixins';

.ecm-du-ranking-sp {
  // cancel .ecm-container
  margin-left: -16px;
  margin-right: -16px;

  .ecm-du-ranking-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    // move .ecm-container padding here
    padding-left: $space-16;
    padding-right: $space-16;
    margin-bottom: $space-12;
  }

  .ecm-du-ranking-header-title {
    @include text-sm;
  }

  .ecm-du-ranking-header-link {
    @include text-12px;
  }

  .ecm-du-ranking-prototype {
    width: calc((100vw - 164px) / 12 * 4 + 48px);
  }

  .ecm-du-ranking-title {
    display: flex;
    align-items: center;
    justify-content: stretch;
  }

  .ecm-du-ranking-title-date {
    @include text-11px;

    flex: 1 0 auto;
    text-align: right;
    padding: $space-16 $space-16 $space-12 $space-16;
  }

  .ecm-du-ranking-tab-item {
    height: auto !important;
  }

  .ecm-du-ranking-tab-display {
    margin-bottom: $space-12;
  }

  .ecm-du-ranking-tab-display,
  .ecm-du-ranking-item-display {
    overflow: hidden;
    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: 100%;
    width: 100% !important;

    > ul {
      position: relative;
      grid-column: 1;
      grid-row: 1;
      display: flex;
      padding: 0 10px;
    }
  }

  /* stylelint-disable */

  // need to directly style this class due to this ranking js
  .rnkGenreLink,
  .rnkGenreUnLink {
    @include text-10px;

    box-sizing: border-box;
    display: flex;
    align-items: center;
    justify-content: center;
    width: calc((100vw - 164px) / 12 * 4 + 48px);
    text-align: left;
    padding: 0 6px;
    line-height: 1.2;

    > span {
      padding: $space-8 0;
    }
  }

  .rnkGenreLink {
    padding-bottom: 1px;
    border-bottom: 1px solid $color-gray-4;
  }

  .rnkGenreUnLink {
    color: $color-crimson;
    font-weight: 700;
    border-bottom: 2px solid $color-crimson;
  }

  /* stylelint-enable */

  .ecm-du-ranking-item-container {
    width: calc((100vw - 164px) / 12 * 4 + 48px);
  }

  .ecm-du-ranking-item {
    position: relative;
    display: flex;
    flex-direction: column;
    line-height: 1.3;
    z-index: 1;
    margin: 0 6px $space-16;
  }

  .ecm-du-ranking-item-image {
    position: relative;
    flex: 0 0 auto;

    &::before {
      content: '';
      display: block;
      width: 100%;
      padding-top: 100%;
    }

    img {
      position: absolute;
      top: 0;
      right: 0;
      bottom: 0;
      left: 0;
      display: block;
      max-width: 100% !important;
      max-height: 100% !important;
      margin: auto;

      @media (hover: hover) {
        &:hover {
          opacity: 0.8;
        }
      }
    }
  }

  .ecm-du-ranking-item-link:hover {
    text-decoration: none;
  }

  .ecm-du-ranking-item-rank {
    @include text-2xl;
    @include font-roboto(500);

    display: flex;
    align-items: baseline;
    margin-top: $space-8;
    line-height: 1;
    color: $color-gray-1;

    .ecm-du-ranking-item-link:hover & {
      text-decoration: none;
    }
  }

  .ecm-du-ranking-item-rank-text {
    @include text-sm;

    line-height: 1;
    color: $color-gray-1;
    font-weight: 700;
  }

  .ecm-du-ranking-item-name {
    @include text-12px;
    @include clamp(2);

    margin-top: $space-8;
    color: $color-gray-1;

    @media (hover: hover) {
      &:hover {
        text-decoration: underline;
      }
    }
  }

  .ecm-du-ranking-item-price {
    @include text-base;
    @include font-roboto(500);

    flex: 0 0 auto;
    margin: $space-8 0 0;
    color: $color-crimson;
    line-height: 1;
  }

  .ecm-du-ranking-item-review {
    display: flex;
    align-items: center;
    margin-top: $space-8;
    height: 13px;
  }

  .ecm-du-ranking-item-review-star {
    display: flex;

    img {
      display: block;
      height: 14px;
    }
  }

  .ecm-du-ranking-item-review-count {
    @include text-10px;

    margin-left: $space-4;

    a {
      color: $color-gray-1;
    }
  }
}
