@import '../../_scss/variables';
@import '../../_scss/mixins';

.ecm-smart-coupon {
  a:hover {
    text-decoration: none;
  }
}

.ecm-smart-coupon-wrap {
  margin: $space-12 0;

  @include screen('md', 'up') {
    margin: $space-16 0 0;
  }
}

.ecm-slider-container.ecm-smart-coupon-wrap {
  margin: $space-12 0 0;
}

.ecm-smart-coupon-header {
  @include text-base;

  font-weight: bold;

  @include screen('md', 'up') {
    @include text-lg;
  }
}

.ecm-smart-coupon-item {
  height: initial !important;
  line-height: 1.3;
  padding: $space-12;
  // ICW-18899 (unconfirmed)
  // Using "border" property results to Swiper not being able to calculate the transform perfectly.
  box-shadow: inset 0 0 0 1px $color-gray-5;
  border-radius: 4px;
  background: $color-white;
  box-sizing: border-box;

  @include screen('md', 'up') {
    padding: $space-16;
  }
}

.ecm-smart-coupon-image {
  width: 100%;
  max-width: 100%;
  max-height: 100%;
  aspect-ratio: 1/1;
  object-fit: contain;

  @media (hover: hover) {
    &:hover {
      opacity: 0.8;
    }
  }
}

.ecm-smart-coupon-body {
  margin-top: $space-8;
}

.ecm-smart-coupon-title {
  @include text-xs;
  @include colorize-link($color-gray-1);

  word-break: break-all;

  @include screen('md', 'up') {
    @include text-sm;

    @media (hover: hover) {
      &:hover {
        text-decoration: none;
      }
    }
  }
}

.ecm-smart-coupon-discount {
  @include text-xs;
  @include colorize-link($color-gray-1);

  margin-top: $space-8;
  font-weight: bold;

  @include screen('md', 'up') {
    @include text-sm;

    @media (hover: hover) {
      &:hover {
        text-decoration: none;
      }
    }
  }
}

.ecm-smart-coupon-discount-amount {
  @include text-lg;
  @include font-roboto(400);

  word-break: break-all;

  @include screen('md', 'up') {
    @include text-2xl;
  }
}

.ecm-smart-coupon-price {
  @include text-10px;

  display: flex;
  flex-wrap: wrap;
  margin-top: $space-4;
  font-weight: 400;

  @include screen('md', 'up') {
    @include text-11px;
  }

  @media (hover: hover) {
    &:hover {
      cursor: initial;
    }
  }
}

.ecm-smart-coupon-price-original {
  @include font-roboto(normal);

  display: block;
  color: $color-828282;
  margin-right: $space-4;
  text-decoration: line-through;
  word-break: break-all;
}

.ecm-smart-coupon-price-discounted {
  @include font-roboto(normal);

  display: block;
  flex: 0 0 auto;
  color: $color-crimson;
  word-break: break-all;
}

.ecm-smart-coupon-coupon {
  display: flex;
  margin-top: $space-12;
}

.ecm-smart-coupon-coupon-icon {
  color: #e46500;
}

.ecm-smart-coupon-coupon-text {
  @include text-12px;
  @include colorize-link($color-gray-1);

  font-weight: bold;
  margin-left: $space-4;

  @include screen('md', 'up') {
    @include text-xs;

    @media (hover: hover) {
      &:hover {
        text-decoration: none;
      }
    }
  }
}

.ecm-smart-coupon-note {
  @include text-12px;

  color: $color-gray-2;
  margin-top: $space-16;

  @include screen('md', 'up') {
    margin-left: 0;
    display: flex;
    align-items: center;
  }
}

.ecm-smart-coupon-popup {
  text-decoration: none;
  outline: none;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  margin: 0;
  padding: 0;
  background-color: #fff;
  border: 0;
  cursor: pointer;
  white-space: nowrap;

  * > * {
    color: $color-gray-1;
  }

  @include screen('md', 'up') {
    cursor: pointer;

    .ecm-modal-content-wrapper {
      width: 480px;
    }

    @media (hover: hover) {
      &:hover {
        .ecm-smart-coupon-popup-title {
          text-decoration: underline;
        }
      }
    }
  }
}

.ecm-smart-coupon-popup-heading {
  @include text-sm;

  font-weight: bold;

  @include screen('md', 'up') {
    @include text-base;
  }
}

.ecm-smart-coupon-popup-text {
  margin-top: $space-16;

  @include screen('md', 'up') {
    @include text-sm;
  }
}
