.sidebar-search {
  display: flex;
  align-items: center;
  background-color: white;
  color: rgb(51 51 51 / 100%);
  font-weight: bold;
  font-size: 13px;
  border: 1px solid #d1d1d1;
  padding: 12px;
  border-radius: 4px;
  white-space: nowrap;
  cursor: pointer;
  width: 100%;

  svg {
    flex-shrink: 0;
  }
}

.text {
  margin-left: 4px;
  margin-right: 4px;
}

.shortcut {
  margin-left: auto;
  font-size: 12px;
  padding: 2px 4px;
  color: #8f8f8f;
  background-color: #f7f7f7;
}

.modal {
  width: 800px;
  padding: 20px;
}

.modal-close {
  position: absolute;
  top: -14px;
  right: -14px;
  border-radius: 50%;
  border: 0;
  width: 28px;
  height: 28px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: white;
  box-shadow: 0 1.25px 6px 0 rgb(0 0 0 / 25%);
  cursor: pointer;

  &:hover {
    background-color: #fafafa;
  }
}

.modal-input-wrapper {
  font-size: 14px;
  border: 1px solid rgb(0 0 0 / 20%);
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: #717171;
  padding-right: 12px;

  input {
    border: 0;
    width: 100%;
    padding: 12px;
    outline: none;
    appearance: none;
  }

  margin-bottom: 16px;
}

.modal-item-wrapper {
  display: flex;
  flex-direction: column;
  min-height: 60vh;
  min-height: 60dvh;
  overflow-y: auto;
}

.modal-item {
  display: flex;
  flex-direction: column;
  padding: 8px;
  cursor: pointer;
  transition: all ease 0.2s;
  color: #717171;
  border-bottom: 1px solid rgb(0 0 0 / 8%);

  &:hover {
    background-color: rgb(0 0 0 / 8%);
  }

  &:focus {
    outline: none;
    background-color: rgb(0 0 0 / 8%);
  }

  &.focused {
    background-color: rgb(0 0 0 / 8%);
  }
}

.modal-item-title {
  color: #333;
  margin-bottom: 4px;
}
