@import '../../_scss/variables';
@import '../../_scss/mixins';

.ecm-du-slider-pc704 {
  min-width: 704px;
  width: 704px;

  .ecm-du-slider-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: $space-16;
  }

  .ecm-du-slider-header-title {
    @include text-lg;
  }

  .ecm-du-slider-header-link {
    @include text-sm;

    @media (hover: hover) {
      &:hover {
        text-decoration: underline;
      }
    }
  }

  .ecm-du-slider-container {
    position: relative;
    height: auto !important;
  }

  .ecm-du-slider-items {
    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: 100%;
  }

  .ecm-du-slider-items > * {
    position: static !important;
    grid-column: 1;
    grid-row: 1;
    display: flex;
    width: 100%;
  }

  .ecm-du-slider-items > * > * {
    margin-right: $space-24;

    &:last-child {
      margin: 0;
    }
  }

  .ecm-du-slider-item {
    min-width: 158px;
    width: 158px;
    max-width: 158px;
  }

  .ecm-du-slider-link {
    display: flex;
    flex-direction: column;

    @media (hover: hover) {
      &:hover {
        text-decoration: none;
      }
    }
  }

  .ecm-du-slider-img-box {
    position: relative;

    img {
      width: 100%;
      max-width: 100%;
      height: 100%;
      aspect-ratio: 1/1;
      object-fit: contain;

      @media (hover: hover) {
        &:hover {
          opacity: 0.8;
        }
      }
    }
  }

  .ecm-du-slider-name {
    @include clamp(2);
    @include text-12px;

    margin-top: $space-12;
    color: $color-gray-1;

    @media (hover: hover) {
      &:hover {
        text-decoration: underline;
      }
    }
  }

  .ecm-du-slider-price {
    @include font-roboto(500);

    margin-top: $space-8;
    color: $color-crimson;
    @media (hover: hover) {
      &:hover {
        text-decoration: none;
      }
    }
  }

  .ecm-du-slider-prev,
  .ecm-du-slider-next {
    position: absolute;
    top: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    width: 32px;
    height: 32px;
    margin-top: -16px;
    background-color: #fff;
    box-shadow: 0 1.25px 6px #0003;
    border-radius: 100%;
    z-index: 10;
  }

  .ecm-du-slider-prev.r-slideshow-scroll-button-disabled,
  .ecm-du-slider-next.r-slideshow-scroll-button-disabled {
    display: none;
  }

  .ecm-du-slider-prev-link,
  .ecm-du-slider-next-link {
    display: flex;
    align-items: center;
    justify-content: center;

    @media (hover: hover) {
      &:hover {
        text-decoration: none;
      }
    }
  }

  .ecm-du-slider-prev {
    left: -16px;
  }

  .ecm-du-slider-next {
    right: -16px;
  }
}
