.ecm-du-slider-sp {
  // cancel .ecm-container
  margin-left: -16px;
  margin-right: -16px;

  .ecm-du-slider-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    // move .ecm-container padding here
    padding-left: $space-16;
    padding-right: $space-16;
    margin-bottom: $space-12;
  }

  .ecm-du-slider-header-title {
    @include text-sm;
  }

  .ecm-du-slider-header-link {
    @include text-12px;
  }

  .ecm-du-slider-wrap {
    overflow: hidden;
  }

  .ecm-du-slider-prototype {
    width: calc((100vw - 164px) / 12 * 4 + 48px);
  }

  .ecm-du-slider-items {
    overflow: hidden;
    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: 100%;
    width: 100% !important;
    margin: 0 auto;

    &.ecm-browsing-history-track,
    &.ecm-bookmark-track {
      padding-left: $space-16;
    }
  }

  .ecm-du-slider-items > * {
    grid-column: 1;
    grid-row: 1;
    display: flex;
    margin-left: 10px;
  }

  .ecm-du-slider-item {
    width: 118px;
  }

  .ecm-du-slider-link {
    display: block;
    margin: 0 6px $space-16;
    line-height: 1.3;
    text-decoration: none;
  }

  .ecm-du-slider-img img {
    width: 100% !important;
    max-width: 100%;
    height: 100% !important;
    aspect-ratio: 1/1;
    object-fit: contain;
  }

  .ecm-du-slider-name {
    @include clamp(2);
    @include text-12px;

    margin-top: $space-8;
    color: $color-gray-1;
  }

  .ecm-du-slider-price {
    @include font-roboto(500);

    margin-top: $space-8;
    color: $color-crimson;
  }

  .ecm-du-slider-prev,
  .ecm-du-slider-next {
    position: absolute;
    top: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    width: 32px;
    height: 32px;
    margin-top: -16px;
    background-color: #fff;
    box-shadow: 0 1.25px 6px #0003;
    border-radius: 100%;
    z-index: 10;
  }

  .ecm-du-slider-prev.r-slideshow-scroll-button-disabled,
  .ecm-du-slider-next.r-slideshow-scroll-button-disabled {
    display: none;
  }

  .ecm-du-slider-prev-link,
  .ecm-du-slider-next-link {
    display: flex;
    align-items: center;
    justify-content: center;

    @media (hover: hover) {
      &:hover {
        text-decoration: none;
      }
    }
  }

  .ecm-du-slider-prev {
    left: -16px;
  }

  .ecm-du-slider-next {
    right: -16px;
  }
}
