.code-pre {
  font-size: 14px;
  padding: 12px 16px;
  overflow: auto;
  max-height: 500px;
  border: 1px solid rgb(0 0 0 / 25%);
  margin: 0;

  &.loading {
    color: transparent;
    user-select: none;
  }

  &.full {
    max-height: unset;
    height: 100%;
    width: 100%;
  }
}

.highlighted {
  display: inline-block;
  width: calc(100% + 32px);
  background-color: #ebebeb;
  margin-left: -16px;
  margin-right: -16px;
  padding-left: 16px;
  padding-right: 16px;
}

.copy {
  display: flex;
  align-items: center;
  font-size: 12px;
  top: 6px;
  right: 6px;
  color: #bf0000;
  border-color: #bf0000;
  border-radius: 4px;
  border: 1px solid #bf0000;
  background-color: white;
  position: absolute;
  padding: 8px 16px;
  text-transform: uppercase;
  transition:
    color 0.2s,
    background-color 0.2s;
  cursor: pointer;

  svg {
    margin-right: 4px;
  }

  &:hover {
    color: white;
    background-color: #bf0000;
  }
}

.form {
  position: relative;
}
