@import '../../_scss/variables';
@import '../../_scss/mixins';

.ecm-card {
  padding: $space-16;
  background-color: $color-white;
  width: 100%;
  height: 100%;
  border-radius: $space-8;
  box-shadow: rgb(0 0 0 / 5%) 0 0 0 1px;
  border: 0;

  &.ecm-card-rounded-sm {
    border-radius: $space-4;
  }

  @include screen('md', 'up') {
    padding: $space-24;
  }
}
