.scm-ad-100187 {
  @extend .scm-ad-100195;
}

.scm-ad-item-100187 {
  @extend .scm-ad-item-100195;
}

.scm-ad-name-100187 {
  @extend .scm-ad-name-100195;
}

.scm-ad-shop-100187 {
  @extend .scm-ad-shop-100195;
}
