/* stylelint-disable */
@use 'sass:math';
@import 'ecm/src/_scss/variables';
@import 'ecm/src/_scss/mixins';
/* stylelint-enable */

$side-wrap-width-sp: $base-sp-width;
$side-card-width-sp: 152;

$side-wrap-width-md: 478;
$side-wrap-height-md: 268;
$side-card-width-md: 174;
$side-card-height-md: 167;

$center-wrap-width-sp: 343;
$center-card-width-sp: 250;

$center-wrap-width-md: 468;
$center-wrap-height-md: 164;
$center-card-width-md: 370;
$center-card-height-md: 84;

$center-margin-sp: 27.5;

.scm-content-banner {
  @include colorize-link($color-gray-1 !important);

  position: relative;
  overflow: hidden;
  display: block;

  &.scm-content-banner-shadowed {
    box-shadow: 0 3px 15px rgb(0 0 0 / 20%);
  }

  &.scm-content-banner-bordered {
    border: 1px solid $color-gray-2;
  }

  &.scm-content-banner-rounded {
    border-radius: 8px;
  }

  @include screen('md', 'up') {
    @media (hover: hover) {
      &:hover {
        opacity: 0.8;
      }
    }
  }
}

.scm-content-banner-image {
  display: block;
  width: 100%;
  height: 100%;
}

.scm-content-banner-body {
  position: absolute;
  box-sizing: border-box;
  display: block;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  padding: $space-12 $space-8;

  @include screen('md', 'up') {
    padding: $space-24 $space-12;
  }
}

.scm-content-banner-side-card {
  position: absolute;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: rgb(255 255 255 / 80%);
  padding: $space-8;
  box-sizing: border-box;
  top: 50%;
  transform: translateY(-50%);
  height: calc(100% - $space-64);
  /* stylelint-disable */
  width: math.percentage(math.div($side-card-width-sp, $side-wrap-width-sp));

  @include screen('md', 'up') {
    height: math.percentage(math.div($side-card-height-md, $side-wrap-height-md));
    width: math.percentage(math.div($side-card-width-md, $side-wrap-width-md));
  }
  /* stylelint-enable */

  .scm-content-banner-sideleft & {
    left: $space-32;

    @include screen('md', 'up') {
      left: $space-40;
    }
  }

  .scm-content-banner-sideright & {
    right: $space-32;

    @include screen('md', 'up') {
      right: $space-40;
    }
  }
}

.scm-content-banner-card,
.scm-content-banner-card-background,
.scm-content-banner-card-center {
  position: absolute;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: rgb(255 255 255 / 80%);
  padding: $space-8;
  box-sizing: border-box;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.scm-content-banner-card {
  height: calc(100% - $space-24);
  width: calc(100% - $space-24);

  @include screen('md', 'up') {
    height: calc(100% - $space-40);
    width: calc(100% - $space-40);
  }
}

.scm-content-banner-card-background {
  display: block;
  height: calc(100% - $space-32);
  width: calc(100% - $space-32);

  @include screen('md', 'down') {
    padding: $space-4;
  }
}

.scm-content-banner-card-border {
  padding: $space-4;
  border: 1px solid $color-gray-1;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  box-sizing: border-box;
  height: 100%;
  clip-path: polygon(0 0, 100% 0, 100% calc(100% - 16px), calc(100% - 16px) 100%, 0 100%);

  @include screen('md', 'up') {
    padding: $space-16;
    clip-path: polygon(0 0, 100% 0, 100% calc(100% - 20px), calc(100% - 20px) 100%, 0 100%);
  }
}

/* stylelint-disable */
.scm-content-banner-card-center {
  height: calc(100% - ($center-margin-sp * 2px));
  width: math.percentage(math.div($center-card-width-sp, $center-wrap-width-sp));

  @include screen('md', 'up') {
    height: math.percentage(math.div($center-card-height-md, $center-wrap-height-md));
    width: math.percentage(math.div($center-card-width-md, $center-wrap-width-md));
  }
}
/* stylelint-enable */

.scm-content-banner-triangle {
  background-color: $color-gray-1;
  clip-path: polygon(100% 0, 0% 100%, 100% 100%);
  display: block;
  position: absolute;
  height: 10px;
  width: 10px;
  bottom: 6px;
  right: 6px;

  @include screen('md', 'up') {
    height: 14px;
    width: 14px;
    bottom: $space-8;
    right: $space-8;
  }

  .scm-content-banner-card-background & {
    @include screen('md', 'down') {
      bottom: $space-4;
      right: $space-4;
    }
  }
}

.scm-content-banner-title {
  @include vw-text-base;

  font-weight: bold;
  text-align: center;

  @include screen('md', 'up') {
    @include text-lg;
  }
}

.scm-content-banner-text {
  @include vw-text-12px;

  text-align: center;

  @include screen('md', 'up') {
    @include text-base;
  }
}
