@import '../../_scss/variables';
@import '../../_scss/mixins';

@include util-md('object-contain') {
  object-fit: contain;
}
@include util-md('object-cover') {
  object-fit: cover;
}
@include util-md('object-fill') {
  object-fit: fill;
}
@include util-md('object-none') {
  object-fit: none;
}
@include util-md('object-scale-down') {
  object-fit: scale-down;
}
@include util-md('aspect-ratio-1x1') {
  aspect-ratio: 1/1;
}
@include util-md('aspect-ratio-4x3') {
  aspect-ratio: 4/3;
}
@include util-md('aspect-ratio-16x9') {
  aspect-ratio: 16/9;
}

@include util-md('object-contain', true) {
  object-fit: contain !important;
}
@include util-md('object-cover', true) {
  object-fit: cover !important;
}
@include util-md('object-fill', true) {
  object-fit: fill !important;
}
@include util-md('object-none', true) {
  object-fit: none !important;
}
@include util-md('object-scale-down', true) {
  object-fit: scale-down !important;
}
@include util-md('aspect-ratio-1x1', true) {
  aspect-ratio: 1/1 !important;
}
@include util-md('aspect-ratio-4x3', true) {
  aspect-ratio: 4/3 !important;
}
@include util-md('aspect-ratio-16x9', true) {
  aspect-ratio: 16/9 !important;
}
