@import '../../_scss/variables';
@import '../../_scss/mixins';

.ecm-shop {
  display: flex;
  align-items: flex-start;

  @include screen('md', 'down') {
    flex-direction: column;
    align-items: center;
  }
}

.ecm-shop-logo {
  aspect-ratio: 1/1;
  flex-shrink: 0;
}

.ecm-shop-info {
  margin-left: $space-16;

  @include screen('md', 'down') {
    margin-left: 0;
    margin-top: $space-16;
  }
}

.ecm-shop-name {
  @include text-base;

  font-weight: 700;
}

.ecm-shop-description {
  @include text-sm;

  margin-top: $space-8;
}

.ecm-shop-item-container {
  margin-top: $space-16;
  display: flex;
}

.ecm-shop-item {
  min-width: 0;
  height: 100%;
  width: 100%;
  aspect-ratio: 1/1;

  & + & {
    margin-left: $space-8;
  }
}
