@import 'ecm/src/_scss/variables';
@import 'ecm/src/_scss/mixins';

.scm-ai-search-hero-texture {
  background-image: var(--scm-ai-search-hero-bg-texture);
  background-position: center;
  background-size: cover;
  background-repeat: repeat-x;
}

.scm-ai-search-hero {
  background-color: var(--scm-ai-search-theme-color);
}

.scm-ai-search-title-pill {
  margin-left: auto;
  margin-right: auto;
  width: fit-content;
  font-weight: bold;
  color: var(--scm-ai-search-theme-color);
  background-color: var(--scm-ai-search-sub-theme-color);
  padding: 8px;
  padding-left: 16px;
  padding-right: 16px;
  border-radius: 32px;

  @include screen('md', 'up') {
    font-size: 24px;
    padding: 12px;
    padding-left: 24px;
    padding-right: 24px;
    border-radius: 32px;
  }
}

.scm-ai-search-title {
  text-align: center;
  color: $color-white;
  line-height: 1;
  font-weight: bold;
  font-size: 24px;

  @include screen('md', 'up') {
    font-size: 40px;
  }
}

.scm-ai-search-title-ai {
  height: 32px;

  @include screen('md', 'up') {
    height: 50px;
  }
}

.scm-ai-search-form {
  margin-left: auto;
  margin-right: auto;
  display: flex;
  flex-direction: column;
}

.scm-ai-search-text-input-group-wrapper {
  margin-top: 16px;
  padding-bottom: 24px;

  @include screen('md', 'up') {
    margin-top: 24px;
    padding-bottom: 40px;
    margin-left: 32px;
    margin-right: 32px;
  }

  @include screen('lg', 'up') {
    margin-left: 64px;
    margin-right: 64px;
  }
}

.scm-ai-search-text-input-group {
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  border-radius: 8px;
  padding-bottom: 8px;
  border: 2px solid var(--scm-ai-search-theme-color);
  background-color: $color-white;
  position: relative;
  padding-top: 8px;

  @include screen('md', 'up') {
    padding-top: 16px;
  }
}

.scm-ai-search-text-input {
  appearance: none;
  width: 100%;
  border: 0;
  resize: none;
  padding: 8px;
  padding-left: 16px;
  padding-right: 52px;
  font-size: 16px;
  outline: none;
  line-height: 1.5;

  @include screen('md', 'up') {
    padding-right: 80px;
  }
}

.scm-ai-search-text-input-send {
  position: absolute;
  appearance: none;
  padding: 0;
  color: $color-white;
  background-color: var(--scm-ai-search-theme-color);
  border-radius: 32px;
  border: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 24px;
  height: 36px;
  width: 36px;
  right: 16px;
  top: 16px;
  transition: transform 250ms ease;

  &:active {
    transform: translateY(2.5px);
  }

  @include screen('md', 'up') {
    right: 24px;
    top: 20px;
    font-size: 28px;
    height: 48px;
    width: 48px;
  }
}

.scm-ai-search-text-input-suggestion-wrapper {
  display: flex;
  overflow-x: auto;
  padding-bottom: 16px;

  @include screen('md', 'up') {
    padding-bottom: 24px;
  }
}

.scm-ai-search-text-input-suggestion {
  flex-shrink: 0;
  border: 2px solid #e8e8e8;
  border-radius: 8px;
  color: #8f8f8f;
  margin-left: 8px;
  background-color: white;
  text-align: left;
  cursor: pointer;
  height: 64px;
  max-width: 220px;
  padding: 8px;

  &:first-child {
    margin-left: 16px;
  }

  &:last-child {
    margin-right: 16px;
  }

  &.scm-ai-search-text-input-suggestion-selected {
    border-color: var(--scm-ai-search-theme-color);
    color: var(--scm-ai-search-theme-color);
  }
}

// For clamp to work, we need a separate element for the text
.scm-ai-search-text-input-suggestion-text {
  @include clamp(2);

  display: inline-block;
  font-size: 16px;
  line-height: 1.3;
  height: 44px;
  max-width: 220px;
}

.scm-ai-search-text-input-skeleton {
  width: 220px;
  height: 64px;
  pointer-events: none;
  cursor: default;
  background: linear-gradient(135deg, rgb(0 0 0 / 10%) 0%, rgb(0 0 0 / 4%) 100%);
  color: transparent;
  border: transparent;
  animation: skeleton-pulse 2s ease-in-out infinite;
}

@keyframes skeleton-pulse {
  0%,
  100% {
    opacity: 1;
  }

  50% {
    opacity: 0.6;
  }
}

.scm-ai-search-select-grid {
  margin-top: 24px;
  width: 100%;
  display: grid;
  gap: 8px;
  grid-template-columns: repeat(var(--scm-ai-search-sm-grid-size), minmax(0, 1fr));

  @include screen('md', 'up') {
    grid-template-columns: repeat(var(--scm-ai-search-md-grid-size), minmax(0, 1fr));
  }
}

.scm-ai-search-submit-button {
  border: none;
  color: white;
  background-color: var(--scm-ai-search-theme-color);
  width: min(80%, 320px);
  padding: 12px;
  border-radius: 32px;
  font-weight: bold;
  font-size: 18px;
  line-height: 150%;
  margin-left: auto;
  margin-right: auto;
  position: relative;
  text-align: center;
  transition: transform 250ms ease;

  &:active {
    transform: translateY(2.5px);
  }

  i {
    position: absolute;
    //16px ~ 48px
    left: max(16px, calc((100% - 320px) / 2 + 48px));
    font-size: 20px;
    font-weight: bold;
    top: 50%;
    transform: translateY(-50%);
  }
}

.scm-ai-search-submit-reset-button {
  padding-left: 8px;
  padding-right: 8px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 8px;
  appearance: none;
  background-color: transparent;
  color: #008bcf;
  border: 0;
  line-height: 150%;
}

.scm-ai-search-submit-wrapper {
  margin-top: 24px;
  display: flex;
  flex-direction: column;
}

.scm-ai-search-toggle {
  font-size: 20px;
  font-weight: bold;
  background-color: var(--scm-ai-search-toggle-bg-color);
  position: relative;
  border: 0;

  i {
    position: absolute;
    font-weight: bold;
    font-size: 32px;
    top: 50%;
    transform: translateY(-50%);
    right: 16px;
  }

  height: 56px;

  @include screen('md', 'up') {
    height: 64px;
  }
}

.scm-ai-search-toggle-open {
  display: none;

  &[aria-expanded='false'] {
    display: block;
  }
}

.scm-ai-search-toggle-close {
  &[aria-expanded='false'] {
    display: none;
  }
}

.scm-ai-search-message {
  background-color: #f1f1f1;
  padding: 16px;
  padding-top: 8px;
  padding-bottom: 8px;
  font-size: 14px;

  @include screen('md', 'up') {
    font-size: 16px;
  }
}

.scm-ai-search-toggle-wrapper {
  display: flex;
  flex-direction: column;
  width: 100%;
  margin-left: auto;
  margin-right: auto;

  @include screen('md', 'up') {
    padding-left: 16px;
    padding-right: 16px;
  }

  @include screen('lg', 'up') {
    padding-left: 32px;
    padding-right: 32px;
    min-width: 1024px;
    max-width: 1024px;
  }
}

.scm-ai-search-filter-wrapper {
  width: 100%;

  @include screen('md', 'up') {
    padding-left: 16px;
    padding-right: 16px;
  }

  @include screen('lg', 'up') {
    margin-left: auto;
    margin-right: auto;
    min-width: 1024px;
    max-width: 1024px;
    padding-left: 32px;
    padding-right: 32px;
  }
}

.scm-ai-search-filter {
  background-color: #e5e5e5;
  padding-top: 24px;
  padding-bottom: 32px;
  padding-left: 16px;
  padding-right: 16px;

  @include screen('md', 'up') {
    padding-left: 32px;
    padding-right: 32px;
  }

  @include screen('lg', 'up') {
    padding-left: 64px;
    padding-right: 64px;
  }
}

.scm-ai-search-chevron-inverted {
  transform: translateY(-50%) rotate(180deg) !important;
}
