*,
::before,
::after {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-size: 16px;
  line-height: 1.3;
  color: #333;
  font-family: 'Noto Sans JP', sans;
}

a,
a:link {
  color: #333;
  text-decoration: none;
}

a:hover {
  color: #333;
}

img {
  vertical-align: top;
  overflow: hidden;
}

p {
  margin: 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  font-size: 16px;
}
