$color-transparent: transparent;
$color-link: #0078b5;

$color-crimson: #bf0000;
$color-crimson-light: #d70000;
$color-crimson-lightest: #ffbebe;

// Official ReX grayscale
$color-black: #000;
$color-gray-1: #333;
$color-gray-2: #717171;
$color-gray-3: #8f8f8f;
$color-gray-4: #d1d1d1;
$color-gray-5: #ebebeb;
$color-gray-6: #f7f7f7;
$color-white: #fff;

// Some weird gray values
$color-110606: #110606;
$color-828282: #828282;
$color-9c9c9c: #9c9c9c;

// advertising crown color
$color-ad-gold: #dfa300;
$color-ad-silver: #a5b0b8;
$color-ad-bronze: #a68159;

$space-unit: 4;
$space-max-level: 20;

// Please use these values as much as possible. It's kinda cringe but it enforces consistency.
$space-4: #{1 * $space-unit}px;
$space-8: #{2 * $space-unit}px;
$space-12: #{3 * $space-unit}px;
$space-16: #{4 * $space-unit}px;
$space-20: #{5 * $space-unit}px;
$space-24: #{6 * $space-unit}px;
$space-28: #{7 * $space-unit}px;
$space-32: #{8 * $space-unit}px;
$space-36: #{9 * $space-unit}px;
$space-40: #{10 * $space-unit}px;
$space-44: #{11 * $space-unit}px;
$space-48: #{12 * $space-unit}px;
$space-52: #{13 * $space-unit}px;
$space-56: #{14 * $space-unit}px;
$space-60: #{15 * $space-unit}px;
$space-64: #{16 * $space-unit}px;
$space-68: #{17 * $space-unit}px;
$space-72: #{18 * $space-unit}px;
$space-76: #{19 * $space-unit}px;
$space-80: #{20 * $space-unit}px;

$font-sizes: (
  10px: 10,
  11px: 11,
  12px: 12,
  xs: 13,
  sm: 14,
  base: 16,
  lg: 20,
  xl: 22,
  2xl: 24,
  3xl: 28,
  4xl: 32,
  5xl: 44,
  6xl: 56,
  7xl: 72,
);

// Breakpoints based on Ichiba ReX
// https://www.figma.com/file/HZcY4jl0ohHokthXPOC7ZTg0/Layout---Ichiba?type=design&mode=design&t=4LpMLHMX3EJ9DD5y-0
$screen-breakpoints: (
  xs: 360px,
  // Not Ichiba ReX, but nice to have
  sm: 512px,
  md: 768px,
  lg: 1024px,
  xl: 1280px,
);

$base-line-height: 1.3;

$base-sp-width: 375;

$z-floating: 110;
$z-alcor-popup-bg: 115;
$z-alcor-popup-menu: 120;
$z-sidebar: 120;
$z-sheet: 120;
$z-modal: 120;
