@import 'ecm/src/_scss/variables';
@import 'ecm/src/_scss/mixins';

.scm-ad-100293 {
  @include font-default;
  @include text-xs;
  @include colorize-link($color-gray-1 !important);

  justify-content: center;
  background-color: $color-white;
  box-sizing: border-box;
  display: flex;
  padding: $space-16 $space-8;
  position: relative;

  &.scm-ad-bg-gray-100293 {
    background-color: $color-gray-6;
  }

  &.scm-ad-shadowed-100293 {
    box-shadow: 0 3px 15px rgb(0 0 0 / 20%);
  }

  &.scm-ad-100293-bordered {
    border: 1px solid $color-gray-2;
  }

  &.scm-ad-rounded-100293 {
    border-radius: 8px;
  }

  @include screen('md', 'up') {
    @include text-sm;

    padding: $space-24 $space-12;

    @media (hover: hover) {
      &:hover {
        opacity: 0.8;
      }
    }
  }

  span {
    text-align: left;
  }
}

.scm-ad-triangle-100293 {
  border: 5px solid transparent;
  border-bottom-color: $color-gray-1;
  border-right-color: $color-gray-1;
  bottom: 6px;
  position: absolute;
  right: 6px;
}
