@import 'ecm/src/_scss/variables';
@import 'ecm/src/_scss/mixins';

$bg-color-warn: #fff9c8;

.scm-alert {
  @include vw-text-12px;

  background-color: $color-gray-6;
  color: $color-gray-1;
  padding: $space-12;

  &.scm-alert-warn {
    background-color: $bg-color-warn;
  }
}
