.title-wrapper {
  margin-bottom: 24px;
  margin-top: 40px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.h2 {
  font-size: 24px;
  padding-left: 12px;
  border-left: 3px solid #0078b5;
}

.reset {
  cursor: pointer;
  color: #0078b5;
  background-color: white;
  border: 0;
  font-size: 14px;
  display: flex;
  align-items: center;

  span {
    margin-left: 4px;
  }
}

.category-row {
  padding-top: 12px;
  padding-bottom: 12px;
  display: flex;
  justify-content: space-between;

  & + .category-row {
    border-top: 1px solid rgb(0 0 0 / 8%);
  }
}

.category {
  display: flex;
  justify-content: space-between;
  width: 350px;
  flex-shrink: 0;
  align-items: flex-start;
}

.category-name {
  font-size: 16px;
  font-weight: bold;
  margin-right: 8px;
}

.category-reset {
  padding: 8px 12px;
  border: 1px solid rgb(0 0 0 / 8%);
  background-color: white;
  border-radius: 4px;
  cursor: pointer;
  transition: all 0.2s ease;
  width: 110px;

  &:hover {
    background-color: #fafafa;
  }
}

.checkbox-wrapper {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  margin-left: 24px;
}

.checkbox {
  padding: 8px;
  display: flex;
  align-items: center;

  label {
    margin-left: 8px;
    font-size: 14px;
    cursor: pointer;
  }
}

.result-header-link {
  font-size: 16px;
  font-weight: 400;
  display: flex;
  align-items: center;

  & > svg {
    margin-left: 4px;
  }

  &:hover {
    text-decoration: underline;
  }
}

.input-wrapper-checkbox {
  position: relative;
  display: flex;

  & > svg {
    pointer-events: none;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }

  input {
    appearance: none;
    background-color: #fff;
    margin: 0;
    width: 20px;
    height: 20px;
    border: 2px solid #8f8f8f;
    border-radius: 2px;
    cursor: pointer;

    &:checked {
      background-color: #00a0f0;
    }

    & + svg {
      display: none;
    }

    &:checked + svg {
      display: block;
    }
  }
}

.input-wrapper-radio {
  position: relative;
  display: flex;

  & > svg {
    pointer-events: none;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }

  input {
    appearance: none;
    background-color: #fff;
    margin: 0;
    width: 20px;
    height: 20px;
    border: 2px solid #8f8f8f;
    border-radius: 20px;
    cursor: pointer;

    &:checked {
      background-color: #00a0f0;
    }

    & + svg {
      display: none;
    }

    &:checked + svg {
      display: block;
    }
  }
}

.result {
  margin-top: 32px;
  border: 1px solid #d1d1d1;
  display: flex;
  flex-direction: column;
}

.result-item {
  & + & {
    margin-top: 32px;
  }
}

.result-empty {
  height: 320px;
  display: flex;
  flex-direction: column;
  align-items: center;

  span:first-child {
    font-weight: bold;
    margin-bottom: 16px;
  }
}

.not-found {
  padding: 64px;
  display: flex;
  flex-direction: column;
  text-align: center;

  span:first-child {
    font-weight: bold;
  }
}
