@import 'ecm/src/_scss/variables';
@import 'ecm/src/_scss/mixins';

.scm-content-guide {
  @include screen('md', 'up') {
    position: relative;
    padding: $space-40 $space-80;
  }
}

.scm-content-guide-headline {
  @include vw-text-xl;

  color: $color-gray-1;
  text-align: center;
  font-weight: bold;

  @include screen('md', 'up') {
    @include text-4xl;
  }
}

.scm-content-guide-image {
  @include screen('md', 'up') {
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
    height: 100%;
    object-fit: cover;
  }
}

.scm-content-guide-subheadline {
  @include vw-text-base;

  color: $color-gray-1;
  text-align: center;
  font-weight: bold;

  @include screen('md', 'up') {
    @include text-lg;
  }
}

.scm-content-guide-text {
  @include vw-text-12px;

  color: $color-gray-1;

  @include screen('md', 'up') {
    @include text-base;
  }
}
