@import '../../_scss/variables';
@import '../../_scss/mixins';

.ecm-container {
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  padding-left: $space-16;
  padding-right: $space-16;

  @include screen('lg', 'up') {
    padding-left: $space-32;
    padding-right: $space-32;
    min-width: 1024px;
    max-width: 1024px;
  }

  &.ecm-container-left-sidebar {
    display: grid;
    grid-template-columns: 248px minmax(0, 1fr);
    column-gap: $space-40;
    padding-left: 0;
    min-width: 1024px;
    max-width: 1024px;
  }
}
