@import '../../_scss/variables';
@import '../../_scss/mixins';

@include util-all('hover-opacity-80') {
  @media (hover: hover) {
    &:hover {
      opacity: 0.8;
    }
  }
}

@include util-all('hover-underline') {
  @media (hover: hover) {
    &:hover {
      text-decoration: underline;
    }
  }
}

@include util-all('hover-decoration-none') {
  @media (hover: hover) {
    &:hover {
      text-decoration: none;
    }
  }
}

@include util-all('hover-opacity-80', true) {
  @media (hover: hover) {
    &:hover {
      opacity: 0.8;
    }
  }
}

@include util-all('hover-underline', true) {
  @media (hover: hover) {
    &:hover {
      text-decoration: underline;
    }
  }
}

@include util-all('hover-decoration-none', true) {
  @media (hover: hover) {
    &:hover {
      text-decoration: none;
    }
  }
}
