@import '../../../_scss/variables';
@import '../../../_scss/mixins';

$directions: (
  'ml': 'left',
  'mr': 'right',
  'mt': 'top',
  'mb': 'bottom',
);

// All
@for $i from 0 through $space-max-level {
  @include util-md('m-#{$i * $space-unit}') {
    margin: ($i * $space-unit) + px;
  }
}

@each $key, $value in $directions {
  @for $i from 0 through $space-max-level {
    @include util-md('#{$key}-#{$i * $space-unit}') {
      margin-#{$value}: ($i * $space-unit) + px;
    }
  }
}
@include util-md('mt-0') {
  margin-top: 0;
}
@include util-md('mb-0') {
  margin-bottom: 0;
}
@include util-md('ml-0') {
  margin-left: 0;
}
@include util-md('mr-0') {
  margin-right: 0;
}

@for $i from 0 through $space-max-level {
  @include util-md('m-#{$i * $space-unit}', true) {
    margin: ($i * $space-unit) + px !important;
  }
}

@each $key, $value in $directions {
  @for $i from 0 through $space-max-level {
    @include util-md('#{$key}-#{$i * $space-unit}', true) {
      margin-#{$value}: ($i * $space-unit) + px !important;
    }
  }
}
@include util-md('mt-0', true) {
  margin-top: 0 !important;
}
@include util-md('mb-0', true) {
  margin-bottom: 0 !important;
}
@include util-md('ml-0', true) {
  margin-left: 0 !important;
}
@include util-md('mr-0', true) {
  margin-right: 0 !important;
}
