@import '../../_scss/variables';
@import '../../_scss/mixins';

[data-module-name='ecm-floating'] {
  transition: opacity 0.2s ease;

  &[data-static='false'] {
    z-index: $z-floating;
    position: fixed;
    // Legacy default setting. 0px makes more sense.
    top: -1px;
  }

  &[aria-hidden='true'] {
    z-index: -1;
    visibility: hidden;
    height: 0;
    pointer-events: none;
    opacity: 0;
  }
}
