@import 'ecm/src/_scss/variables';
@import 'ecm/src/_scss/mixins';

.scm-banner-image {
  display: block;
  max-width: 100%;
  width: 100%;
  height: auto;

  &.scm-banner-image-w-616 {
    max-width: 616px;
  }

  @media (hover: hover) {
    &:hover {
      opacity: 0.8;
    }
  }
}
