@import '../../_scss/variables';
@import '../../_scss/mixins';

@include util-all('cursor-wait') {
  cursor: wait;
}

@include util-all('cursor-not-allowed') {
  cursor: not-allowed;
}

@include util-all('cursor-auto') {
  cursor: auto;
}

@include util-all('cursor-pointer') {
  cursor: pointer;
}

@include util-all('cursor-wait', true) {
  cursor: wait !important;
}

@include util-all('cursor-not-allowed', true) {
  cursor: not-allowed !important;
}

@include util-all('cursor-auto', true) {
  cursor: auto !important;
}

@include util-all('cursor-pointer', true) {
  cursor: pointer !important;
}
