@import '../../_scss/variables';
@import '../../_scss/mixins';

$sidebar-max-width: 360px;
$close-button-width: 40px;

.ecm-sidebar-content {
  height: 100%;
  background-color: $color-white;
  width: calc(100vw - $close-button-width);

  @media screen and (width >= 400px) {
    width: 360px;
  }
}

.ecm-sidebar-content-wrapper {
  z-index: 2;
  position: absolute;
  top: 0;
  height: 100%;
  transition: transform 280ms ease;
  display: flex;
  align-items: flex-start;
  // Allows bg to be clicked while still being able to click the wrapper's child elements.
  pointer-events: none;

  & > * {
    pointer-events: auto;
  }
}

.ecm-sidebar-close {
  border: 0;
  background: transparent;
  width: $close-button-width;
  cursor: pointer;
  padding: $space-8;

  .ecm-icon-close {
    @include text-2xl;

    color: $color-white;
  }
}

.ecm-sidebar-bg {
  position: absolute;
  top: 0;
  height: 100%;
  width: 100%;
  z-index: 1;
  transition: background-color 280ms ease;
  background-color: rgb(0 0 0 / 0%);

  &[data-opening='true'],
  &[aria-expanded='true'] {
    background-color: rgb(0 0 0 / 30%);
  }

  &[data-closing='true'] {
    background-color: rgb(0 0 0 / 0%);
  }
}

.ecm-sidebar {
  z-index: $z-sidebar;
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;

  &[aria-hidden='true']:not([data-opening='true']) {
    @include inert;

    display: block;
  }

  &[data-opening='true'],
  &[aria-hidden='false'],
  &[data-closing='true'] {
    display: block;
  }
}

.ecm-sidebar-right {
  .ecm-sidebar-content-wrapper {
    right: 0;
    transform: translateX(100vw);
  }

  &[data-opening='true'],
  &[aria-hidden='false'] {
    .ecm-sidebar-content-wrapper {
      transform: translateX(0);
    }
  }

  &[data-closing='true'] {
    .ecm-sidebar-content-wrapper {
      transition-timing-function: ease-in;
      transform: translateX(100vw);
    }
  }
}

.ecm-sidebar:not(.ecm-sidebar-right) {
  .ecm-sidebar-content-wrapper {
    left: 0;
    transform: translateX(-100vw);
  }

  &[data-opening='true'],
  &[aria-hidden='false'] {
    .ecm-sidebar-content-wrapper {
      transform: translateX(0);
    }
  }

  &[data-closing='true'] {
    .ecm-sidebar-content-wrapper {
      transition-timing-function: ease-in;
      transform: translateX(-100vw);
    }
  }
}
