body {
  margin: 0;
  background-color: #fff;
  color: #000;
  font-family: 'HiraKakuProN-W3', 'Hiragino Kaku Gothic Pro', 'メイリオ', Meiryo, sans-serif;
}

a {
  text-decoration: none;
  color: #0783c2;
}

a:active {
  color: #0783c2;
}

a:visited {
  color: #0783c2;
}

@media (hover: hover) and (pointer: fine) {
  a:hover {
    color: #0783c2;

    /* a11y */
    text-decoration: underline;
  }
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: 16px;
  line-height: 1.3;
  margin: 0;
}

p {
  margin: 0;
}

img {
  vertical-align: top;
  overflow: hidden;
}

ol,
ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

button {
  cursor: pointer;

  /* Reset the user agent stylesheet of iOS. (JIRA: ICW-15877) */
  color: unset;
}
