@charset "UTF-8";

@font-face {
  font-family: YakuHanJPs;
  font-style: normal;
  font-weight: 400;
  src: url('https://r.r10s.jp/com/js/c/ecm/assets/fonts/YakuHanJPs-Regular.woff') format('woff');
  font-display: swap;
}

@font-face {
  font-family: YakuHanJPs;
  font-style: normal;
  font-weight: 700;
  src: url('https://r.r10s.jp/com/js/c/ecm/assets/fonts/YakuHanJPs-Bold.woff') format('woff');
  font-display: swap;
}

@font-face {
  font-family: Roboto;
  font-style: normal;
  font-weight: 500;
  src: url('https://r.r10s.jp/com/js/c/ecm/assets/fonts/Roboto-Medium.woff') format('woff');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC,
    U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
  font-display: swap;
}

@font-face {
  font-family: Roboto;
  font-style: normal;
  font-weight: 700;
  src: url('https://r.r10s.jp/com/js/c/ecm/assets/fonts/Roboto-Bold.woff') format('woff');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC,
    U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
  font-display: swap;
}
