@import '../../_scss/variables';
@import '../../_scss/mixins';

.ecm-deal-alcor-digitalcode-button {
  background-color: transparent;
  border: none;
  cursor: pointer;
  outline: none;
  padding: 0;
  appearance: none;
  display: block;
  width: 100%;
  height: 100%;
  line-height: inherit;
  text-align: left;
}
