@import '../../_scss/variables';
@import '../../_scss/mixins';

$toggle-navi-height: 56px;
$navi-button-width: 64px;

.ecm-floating-toggle-navi {
  align-items: center;
  background-color: $color-white;
  display: flex;
  height: $toggle-navi-height;
  padding-left: $space-16;
  width: 100%;
}

.ecm-floating-toggle-navi-scroll-x {
  @include scrollable-x;

  display: flex;
  height: 100%;
  scroll-behavior: smooth;
  width: 100%;
  white-space: nowrap;

  > * {
    margin-left: $space-12;
  }
}

.ecm-floating-toggle-navi-button {
  align-items: center;
  background-color: $color-transparent;
  border: 0;
  color: $color-gray-1;
  display: inline-flex;
  flex-shrink: 0;
  height: 100%;
  justify-content: center;
  margin: 0 0 0 $space-4;
  outline: none;
  padding: 0;
  width: $navi-button-width;
  white-space: nowrap;

  .ecm-icon-menu {
    @include text-2xl;

    color: $color-gray-1;
  }
}
