/* stylelint-disable */
@import '../../_scss/variables';
@import '../../_scss/mixins';

.ecm-coupon {
  &:not([class*='couponOneClick-status-']):hover .ecm-coupon-body {
    opacity: 0.8;
  }
}

.ecm-coupon-body {
  z-index: 0;
  position: relative;
  filter: drop-shadow(0px 1.9px 3px rgba(0, 0, 0, 0.25));
  &::before {
    content: '';
    z-index: 0;
    display: block;
    position: absolute;
    width: 100%;
    height: 100%;
    // 50%にすると、幅の小数点誤差によって背景が足りない場合があるため、55%に設定する（以下の55％箇所同じ）
    background-size:
      55% 100%,
      55% 100%;
    background-repeat: no-repeat;
    // 描いた円を半円だけ見えるように、ｐositionを調整する
    background-position:
      0px 50%,
      100% 50%;
    border-radius: 4px;
  }
}
.ecm-coupon-link {
  display: flex;
  flex-direction: column;
  text-decoration: none;
  box-sizing: border-box;
  z-index: 10;
  position: relative;
  width: 100%;
  height: 100%;
  padding: $space-8 0 0;
  border-radius: 4px;
  text-align: center;
  @media (hover: hover) {
    &:hover {
      text-decoration: none;
    }
  }
  // 切り欠きを加えたborderを引けないため、白い板を1px小さくしてかぶせる
  &::before {
    content: '';
    z-index: 20;
    position: absolute;
    top: 0;
    left: 0;
    display: block;
    // 1px内側になるようにwidth, heightを小さくする
    width: 100%;
    height: 100%;
    background-image: radial-gradient(circle at center left, transparent 0px, transparent 11px, $color-white 12px),
      radial-gradient(circle at center right, transparent 0px, transparent 11px, $color-white 12px);
    // 1px内側になるように大きさを調整する
    background-size:
      calc(55% + 1px) 100%,
      calc(55% + 1px) 100%;
    background-repeat: no-repeat;
    // 1px内側になるように位置を調整する
    background-position:
      -1px 50%,
      calc(100% + 1px) 50%;
    border-radius: 4px;
  }
}

.ecm-coupon-title {
  @include text-12px;
  position: relative;
  z-index: 20;
  min-height: 12px;
  margin-bottom: $space-8;
  color: $color-gray-1;
  margin-right: 12%;
  margin-left: 12%;
  em {
    font-weight: bold;
  }
}

.ecm-coupon-discount {
  @include text-lg;
  position: relative;
  z-index: 20;
  margin-bottom: $space-4;
  line-height: 1;
  color: #e46500;
  font-weight: bold;
  em {
    @include font-roboto(500);
    font-size: 40px;
    font-style: normal;
  }

  &.ecm-coupon-discount-sm {
    @include text-sm;
    line-height: 1;
    em {
      font-size: 28px;
    }
  }
  &.md-ecm-coupon-discount-sm {
    @include screen('md', 'up') {
      @include text-sm;
      line-height: 1;
      em {
        font-size: 28px;
      }
    }
  }
  &.md-ecm-coupon-discount-lg {
    @include screen('md', 'up') {
      @include text-lg;
      line-height: 1;
      em {
        font-size: 40px;
      }
    }
  }
}

.ecm-coupon-condition {
  position: relative;
  z-index: 1;
  min-height: 18px;
  color: $color-828282;
}

.ecm-coupon-text {
  @include text-xs;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 20;
  padding: $space-8 0;
  color: $color-gray-1;
  font-weight: 700;
  border-top: 1px solid #ebebeb;
  border-bottom-left-radius: 4px;
  border-bottom-right-radius: 4px;
  line-height: 1;
  .ecm-icon-coupon-filled {
    @include text-base;
    margin-right: $space-4;
    color: #e46500;
    line-height: 1;
  }

  &.ecm-coupon-text-12px {
    @include text-12px;
    .ecm-icon-coupon-filled {
      @include text-sm;
      line-height: 1;
    }

    @include screen('md', 'up') {
      @include text-xs;
    }
  }
}

.ecm-coupon-cover {
  @include text-xs;
  cursor: default;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 30;
  display: none;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  text-align: left;
  color: $color-white;
  &::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    // カバーも背景と同様に、切り欠きを入れて背景を作成
    opacity: 0.75;
    background-image: radial-gradient(circle at center left, transparent 0px, transparent 10px, $color-black 11px),
      radial-gradient(circle at center right, transparent 0px, transparent 10px, $color-black 11px);
    background-size:
      55% 100%,
      55% 100%;
    background-repeat: no-repeat;
    background-position:
      0px 50%,
      100% 50%;
    border-radius: 4px;
  }
  span {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 72%;
    line-height: 1.3;
    i {
      @include text-sm;
      min-width: 14px;
      margin-right: $space-8;
      line-height: 1;
    }
  }

  .couponOneClick-status-acquired &.-acquired,
  .couponOneClick-status-having &.-having,
  .couponOneClick-status-expired &.-expired,
  .couponOneClick-status-rankError &.-rankError,
  // Backwards compat: https://jira.rakuten-it.com/jira/browse/ICW-19094
  .couponOneClick-status-memberEasyHistoryError &.-memberEasyHistoryError,
  .couponOneClick-status-finished &.-finished {
    display: flex;
  }
}

.ecm-coupon-note {
  @include text-sm;
  margin-top: 4px;
  text-align: center;
}
