.note {
  font-size: 14px;
  display: flex;
  align-items: center;
  padding: 16px 8px;

  &.info {
    background-color: #ebf7fe;
  }

  &.warn {
    background-color: #fff9c8;
  }

  &.error {
    background-color: #fff0f0;
  }

  &.default {
    background-color: #f7f7f7;
  }
}

.content {
  margin-left: 8px;
}
