/* stylelint-disable no-descending-specificity */
@import '../../_scss/variables';
@import '../../_scss/mixins';

$transition-ms: 280ms;
$modal-max-width: 768px;

.ecm-modal {
  z-index: $z-sheet;
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;

  &[aria-hidden='true']:not([data-opening='true']) {
    @include inert;

    display: block;
  }

  &[data-opening='true'],
  &[aria-hidden='false'],
  &[data-closing='true'] {
    display: block;
  }
}

.ecm-modal-fade-in {
  &[data-closing='true'] {
    .ecm-modal-content-wrapper {
      opacity: 0;
    }
  }

  &[data-opening='true'] {
    .ecm-modal-content-wrapper {
      opacity: 1;
    }
  }

  &[aria-hidden='false']:not([data-closing='true']) {
    .ecm-modal-content-wrapper {
      opacity: 1;
    }
  }
}

.ecm-modal-slide-up {
  .ecm-modal-content-wrapper {
    transform: translate(-50%, 100%);
  }

  &[data-closing='true'] {
    .ecm-modal-content-wrapper {
      opacity: 0;
      transform: translate(-50%, 100%);
    }
  }

  &[data-opening='true'] {
    .ecm-modal-content-wrapper {
      opacity: 1;
      transform: translate(-50%, -50%);
    }
  }

  &[aria-hidden='false']:not([data-closing='true']) {
    .ecm-modal-content-wrapper {
      opacity: 1;
      transform: translate(-50%, -50%);
    }
  }
}

.ecm-modal-bg {
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  z-index: 1;
  transition: background-color $transition-ms ease;
  background-color: rgb(0 0 0 / 0%);

  &[data-opening='true'],
  &[aria-expanded='true'] {
    background-color: rgb(0 0 0 / 30%);
  }

  &.ecm-modal-bg-50[data-opening='true'],
  &.ecm-modal-bg-50[aria-expanded='true'] {
    background-color: rgb(0 0 0 / 50%);
  }

  &[data-closing='true'],
  &.ecm-modal-bg-50[data-closing='true'] {
    background-color: rgb(0 0 0 / 0%);
  }
}

.ecm-modal-content-wrapper {
  z-index: 2;
  position: absolute;
  // width: 100%;
  transition: all $transition-ms ease;
  align-items: center;
  flex-direction: column;
  // Allows bg to be clicked while still being able to click the wrapper's child elements.
  pointer-events: none;

  & > * {
    pointer-events: auto;
  }

  // for mobile
  width: calc(100% - 48px);
  max-width: $modal-max-width;
  opacity: 0;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}

.ecm-modal-content {
  padding: 16px;

  @include screen('md', 'up') {
    padding: 40px;
  }

  border-radius: 4px;
  background-color: $color-white;
}

.ecm-modal-scroller {
  @include hide-scrollbar;

  max-height: 100vh;
  max-height: 100dvh;
  overflow-y: scroll;
}

.ecm-modal-scroller-spacer {
  all: unset;
  height: 40px;
  width: 100%;
}

.ecm-modal-close {
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  width: 32px;
  height: 32px;
  background-color: #fff;
  box-shadow: 0 1.25px 6px #0003;
  border: 0;
  border-radius: 100%;
  cursor: pointer;
  top: 36px;
  right: -10px;
}

.ecm-modal-close-icon {
  margin-right: -1px;
}

.ecm-modal-title {
  @include text-2xl;

  font-weight: 700;
  text-align: center;
  margin-bottom: $space-16;
}
