@import '../../_scss/variables';
@import '../../_scss/mixins';

.ecm-deal-alcor {
  position: relative;
}

.ecm-deal-alcor-link {
  display: block;

  @include screen('md', 'up') {
    @media (hover: hover) {
      &:hover {
        text-decoration: none;
      }
    }
  }
}

.ecm-deal-alcor-image-block {
  position: relative;
  display: block;

  @include screen('md', 'up') {
    @media (hover: hover) {
      &:hover {
        opacity: 0.8;
      }
    }
  }
}

.ecm-deal-alcor-badge {
  line-height: 1;
  position: absolute;
  z-index: 1;
  top: -8px;
  right: -8px;
  display: grid;
  width: 56px;
  height: 56px;
  text-align: center;
  pointer-events: none;
  color: $color-white;
  background: url('https://r.r10s.jp/com/js/c/ecm/svg/badge-superdeal.svg') 0 0 / contain no-repeat;
  place-content: center;

  @include screen('md', 'up') {
    width: 80px;
    height: 80px;
  }

  &.ecm-deal-alcor-badge-black {
    color: #f8e71c;
    background: url('https://r.r10s.jp/com/js/c/ecm/assets/svg/badge-superdeal-black.svg') 0 0 / contain no-repeat;
  }

  /* stylelint-disable-next-line selector-class-pattern */
  &.ecm-deal-alcor-badge-rate- {
    display: none;
  }
}

.ecm-deal-alcor-obi {
  @include text-12px;

  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: bold;
  background-color: $color-crimson;
  color: $color-white;
  height: $space-28;
  margin-bottom: $space-8;

  @include screen('md', 'up') {
    @include text-sm;

    height: 34px;
    margin-bottom: $space-12;
  }

  &.ecm-deal-alcor-obi-black {
    color: #f8e71c;
    background-color: $color-gray-1;
  }

  /* stylelint-disable-next-line selector-class-pattern */
  &.ecm-deal-alcor-badge-rate- {
    display: none;
  }
}

.ecm-deal-alcor-out-of-stock[data-stock='0']::after {
  font-size: 14px;
  position: absolute;
  bottom: 0;
  left: 0;
  display: grid;
  width: 100%;
  height: 32px;
  content: '在庫切れ';
  color: $color-white;
  background-color: rgb(0 0 0 / 70%);
  place-content: center;
}

.ecm-deal-alcor-review img {
  width: 12px;
}

.ecm-deal-alcor-enddate {
  @include text-sm;

  color: $color-gray-1 !important;
  text-decoration: none;
  margin-top: $space-12;
  word-break: normal;
}

.ecm-deal-alcor-updatedate {
  @include text-12px;

  margin-bottom: $space-12;

  @include screen('md', 'up') {
    @include text-base;
  }
}
