@font-face {
  font-family: 'Rakuten Condensed Variable';
  font-weight: 300 900;
  font-style: normal;
  src: url('https://r.r10s.jp/com/js/c/rakuten_sans/assets/fonts/RakutenCondensed/RakutenCondensedVF_W_Wght.woff2')
    format('woff2');
}

.font-rakuten-condensed {
  font-family: 'Rakuten Condensed Variable';
}
