@import '../../_scss/variables';
@import '../../_scss/mixins';

@include util-lg('text-10px') {
  @include text-10px;
}
@include util-lg('text-11px') {
  @include text-11px;
}
@include util-lg('text-12px') {
  @include text-12px;
}
@include util-lg('text-xs') {
  @include text-xs;
}
@include util-lg('text-sm') {
  @include text-sm;
}
@include util-lg('text-base') {
  @include text-base;
}
@include util-lg('text-lg') {
  @include text-lg;
}
@include util-lg('text-xl') {
  @include text-xl;
}
@include util-lg('text-2xl') {
  @include text-2xl;
}
@include util-lg('text-3xl') {
  @include text-3xl;
}
@include util-lg('text-4xl') {
  @include text-4xl;
}
@include util-lg('text-5xl') {
  @include text-5xl;
}
@include util-lg('text-6xl') {
  @include text-6xl;
}
@include util-lg('text-7xl') {
  @include text-7xl;
}
@include util-lg('font-weight-300') {
  font-weight: 300;
}
@include util-lg('font-weight-400') {
  font-weight: 400;
}
@include util-lg('font-weight-600') {
  font-weight: 600;
}
@include util-lg('font-weight-700') {
  font-weight: 700;
}
@include util-lg('font-weight-800') {
  font-weight: 800;
}
@include util-lg('font-weight-900') {
  font-weight: 900;
}
@include util-lg('font-weight-bold') {
  font-weight: bold;
}
@include util-lg('font-weight-bolder') {
  font-weight: bolder;
}
@include util-lg('font-weight-lighter') {
  font-weight: lighter;
}
@include util-lg('font-style-italic') {
  font-style: italic;
}
@include util-lg('font-style-normal') {
  font-style: normal;
}
@include util-lg('text-center') {
  text-align: center;
}
@include util-lg('text-left') {
  text-align: left;
}
@include util-lg('text-right') {
  text-align: right;
}
@include util-lg('line-height-1') {
  line-height: 1;
}
@include util-lg('line-height-1-third') {
  line-height: 1.3;
}
@include util-lg('line-height-1-half') {
  line-height: 1.5;
}
@include util-lg('line-height-2') {
  line-height: 2;
}
@include util-lg('font-roboto') {
  font-family: Roboto;
}
@include util-lg('font-yakuhan') {
  font-family: YakuHanJPs;
}

@include util-lg('text-10px', true) {
  @include text-10px_important;
}
@include util-lg('text-11px', true) {
  @include text-11px_important;
}
@include util-lg('text-12px', true) {
  @include text-12px_important;
}
@include util-lg('text-xs', true) {
  @include text-xs_important;
}
@include util-lg('text-sm', true) {
  @include text-sm_important;
}
@include util-lg('text-base', true) {
  @include text-base_important;
}
@include util-lg('text-lg', true) {
  @include text-lg_important;
}
@include util-lg('text-xl', true) {
  @include text-xl_important;
}
@include util-lg('text-2xl', true) {
  @include text-2xl_important;
}
@include util-lg('text-3xl', true) {
  @include text-3xl_important;
}
@include util-lg('text-4xl', true) {
  @include text-4xl_important;
}
@include util-lg('text-5xl', true) {
  @include text-5xl_important;
}
@include util-lg('text-6xl', true) {
  @include text-6xl_important;
}
@include util-lg('text-7xl', true) {
  @include text-7xl_important;
}
@include util-lg('font-weight-300', true) {
  font-weight: 300 !important;
}
@include util-lg('font-weight-400', true) {
  font-weight: 400 !important;
}
@include util-lg('font-weight-600', true) {
  font-weight: 600 !important;
}
@include util-lg('font-weight-700', true) {
  font-weight: 700 !important;
}
@include util-lg('font-weight-800', true) {
  font-weight: 800 !important;
}
@include util-lg('font-weight-900', true) {
  font-weight: 900 !important;
}
@include util-lg('font-weight-bold', true) {
  font-weight: bold !important;
}
@include util-lg('font-weight-bolder', true) {
  font-weight: bolder !important;
}
@include util-lg('font-weight-lighter', true) {
  font-weight: lighter !important;
}
@include util-lg('font-style-italic', true) {
  font-style: italic !important;
}
@include util-lg('font-style-normal', true) {
  font-style: normal !important;
}
@include util-lg('text-center', true) {
  text-align: center !important;
}
@include util-lg('text-left', true) {
  text-align: left !important;
}
@include util-lg('text-right', true) {
  text-align: right !important;
}
@include util-lg('line-height-1', true) {
  line-height: 1 !important;
}
@include util-lg('line-height-1-third', true) {
  line-height: 1.3 !important;
}
@include util-lg('line-height-1-half', true) {
  line-height: 1.5 !important;
}
@include util-lg('line-height-2', true) {
  line-height: 2 !important;
}
@include util-lg('font-roboto', true) {
  font-family: Roboto !important;
}
@include util-lg('font-yakuhan', true) {
  font-family: YakuHanJPs !important;
}
