/* stylelint-disable no-descending-specificity */
@import '../../_scss/variables';
@import '../../_scss/mixins';

$navi-height: 64px;

.ecm-floating-navi-container {
  &[data-static='false'] {
    // Floating module has position:absolute by default.
    // For FloatingNavi, we want to make it like position:sticky but it has a lot of issues across browsers.
    // See: https://git.rakuten-it.com/projects/ICWDCDG/repos/sidekick/pull-requests/1342/overview
    position: relative;
    top: 0;
    left: 0;
  }

  width: 100%;
  background-color: $color-white;
  position: relative;
  z-index: 2;

  // Implement a pseudo sticky behavior via JS.
  &[data-sticky='true'] {
    position: fixed;
  }

  &[data-static='false'][data-sticky='false'] {
    border-bottom: 1px solid #ebebeb;
    z-index: unset;
  }

  &[data-static='false'][data-sticky='true'] {
    box-shadow: 0 7px 6px -6px rgb(0 0 0 / 20%);
  }
}

.ecm-floating-navi {
  display: flex;
  height: $navi-height;
  @include scrollable-x;

  scroll-behavior: smooth;

  & > *:first-child {
    margin-left: auto;
  }

  & > *:last-child {
    margin-right: auto;
  }
}

.ecm-floating-navi-item {
  @include colorize-link($color-gray-1);
  @include text-12px;

  @include screen('md', 'up') {
    @include text-sm;
  }

  cursor: pointer;
  white-space: nowrap;
  border: 0;
  background-color: transparent;
  padding: $space-12;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border-bottom: 1px solid transparent;
  height: 100%;
  position: relative;

  .ecm-icon-chevron-down {
    position: absolute;
    @include text-10px;

    bottom: 8px;
    transform: translateX(-50%);
    left: 50%;
  }

  @media (hover: hover) {
    &:hover {
      font-weight: bold;
      text-decoration: none;
    }
  }

  &.ecm-floating-navi-item-anchor {
    &[data-in-viewport='true'] {
      font-weight: bold;
      border-color: $color-gray-1;

      .ecm-icon-chevron-down {
        font-weight: bold;
      }

      // Only highlight the first element with 'data-in-viewport'.
      & + &[data-in-viewport='true'] {
        font-weight: normal;
        border-color: transparent;
      }
    }
  }

  &.ecm-floating-navi-item-expand {
    &[aria-expanded='true'] {
      font-weight: bold;
      border-color: $color-gray-1;

      .ecm-icon-chevron-down {
        font-weight: bold;
      }
    }
  }

  &.ecm-floating-navi-item-active {
    font-weight: bold;
    border-color: $color-gray-1;
  }
}

.ecm-floating-navi-dropdown {
  z-index: 1;
  border-top: 1px solid #ebebeb;
  background-color: white;
  position: absolute;
  min-width: 170px;
  padding-top: $space-8;
  padding-bottom: $space-8;
  display: flex;
  flex-direction: column;
  box-shadow:
    4.25px 4.25px 6px -3px rgb(0 0 0 / 10%),
    -4.25px 4.25px 6px -3px rgb(0 0 0 / 10%);
}

.ecm-floating-navi-dropdown-item {
  @include colorize-link($color-gray-1);
  @include text-12px;

  @include screen('md', 'up') {
    @include text-sm;
  }

  padding: $space-8;
  text-align: center;
  font-weight: 600;

  @media (hover: hover) {
    &:hover {
      background-color: #ebebeb;
      text-decoration: none;
    }
  }
}

.ecm-floating-navi-menu {
  top: $navi-height;
  border-top: 1px solid #ebebeb;
  background-color: $color-white;
  width: 100%;
  max-width: 960px;
  position: absolute;
  left: 0;
  right: 0;
  margin: 0 auto;
  box-shadow:
    4.25px 4.25px 6px -3px rgb(0 0 0 / 10%),
    -4.25px 4.25px 6px -3px rgb(0 0 0 / 10%);
}
