@import '../../_scss/variables';
@import '../../_scss/mixins';

/** 
* Reuse the default classes as much as possible.  
If you need a complicated styling, please create a new class and alcord the id number in the end.

class="ecm-alcor ecm-alcor-xxxxx"
class="ecm-alcor-name ecm-alcor-name-xxxxx"
class="ecm-alcor-triangle ecm-alcor-triangle-xxxxx"
*/

.ecm-alcor {
  background-color: $color-white;
  display: flex;
  flex-direction: column;
}

.ecm-alcor-body {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
}

.ecm-alcor-image-link {
  display: block;

  @include screen('md', 'up') {
    @media (hover: hover) {
      &:hover {
        opacity: 0.8;
      }
    }
  }
}

.ecm-alcor-item-link {
  display: block;

  @include screen('md', 'up') {
    @media (hover: hover) {
      &:hover {
        opacity: 0.8;
        text-decoration: none;
      }
    }
  }
}

.ecm-alcor-name {
  @include text-sm;
  @include colorize-link($color-gray-1 !important);

  display: block;
  margin-top: $space-12;
  // 1行,2行でも高さが変わらないように設定
  height: calc(2em * $base-line-height);
}

.ecm-alcor-price {
  @include font-roboto(500);
  @include text-lg;

  align-items: flex-end;
  display: flex;
  flex-wrap: wrap;
  line-height: 1;
  color: $color-crimson;
  white-space: nowrap;
  margin-top: $space-8;

  @include screen('md', 'up') {
    @include text-2xl;

    @media (hover: hover) {
      &:hover {
        text-decoration: none;
      }
    }
  }
}

.ecm-alcor-price-num {
  color: $color-crimson;
}

.ecm-alcor-shop-link {
  @include colorize-link($color-gray-2 !important);

  align-items: flex-start;
  display: flex;
  margin-top: $space-12;

  i {
    @include text-sm;

    flex-shrink: 0;
    line-height: 1;
    margin: 0 0.25em 0 0;
  }

  span {
    @include text-12px;

    line-height: 1.3;
  }

  @include screen('md', 'up') {
    @media (hover: hover) {
      &:hover {
        text-decoration: none;

        span {
          text-decoration: underline;
        }
      }
    }
  }
}

.ecm-alcor-review {
  @include colorize-link($color-gray-1 !important);

  align-items: flex-start;
  display: flex;
  justify-content: flex-start;
  margin-top: $space-8;
  white-space: nowrap;
  flex-wrap: wrap;
  flex-grow: 1;

  span {
    @include text-12px;
  }

  @include screen('md', 'up') {
    @media (hover: hover) {
      &:hover {
        text-decoration: none;
      }
    }
  }

  .ecm-alcor-review-ave {
    color: #f2ab00;
  }
}

// slider
/* stylelint-disable */
/* eslint-disable */
[data-alcor='slider'] {
  @include scrollable-x;

  display: grid;
  grid-template-rows: repeat(1, auto);
  grid-auto-flow: column;
  gap: 16px 12px;
  padding-right: $space-16;

  &[data-alcor-column='2'] {
    grid-template-rows: repeat(2, auto);

    @include screen('md', 'up') {
      grid-template-rows: repeat(1, auto);
      grid-auto-flow: row;
    }
  }

  @include screen('md', 'up') {
    grid-template-rows: auto;
    grid-auto-flow: row;
    padding-right: 0;
  }

  .ecm-alcor {
    width: calc((100vw - 164px) / 12 * 5 + 48px);

    &:last-child {
      margin: 0;
    }

    @include screen('md', 'up') {
      width: 100%;
      margin: 0;
    }
  }
}
// horizontal
.ecm-alcor-horizontal {
  align-items: flex-start;
  flex-direction: row;

  @include screen('md', 'up') {
    display: block;
  }

  .ecm-alcor-image-link {
    flex: 0 0 auto;
    width: calc((100vw - 164px) / 12 * 4 + 36px);
    margin-right: $space-12;

    @include screen('md', 'up') {
      width: 100%;
    }
  }

  .ecm-alcor-name {
    margin-top: 0;
    height: auto;

    @include screen('md', 'up') {
      margin-top: $space-12;
      height: 2.6em;
    }
  }

  .ecm-alcor-review {
    margin-top: $space-4;
  }

  .ecm-alcor-shop-link {
    margin-top: $space-8;
  }
}
/* eslint-enable */
/* stylelint-enable */
