@import '../../_scss/variables';
@import '../../_scss/mixins';

@include util-all('d-inline-flex') {
  display: inline-flex;
}
@include util-all('d-flex') {
  display: flex;
}
@include util-all('d-flex-row') {
  flex-direction: row;
}
@include util-all('d-flex-row-reverse') {
  flex-direction: row-reverse;
}
@include util-all('d-flex-col') {
  flex-direction: column;
}
@include util-all('d-flex-col-reverse') {
  flex-direction: column-reverse;
}
@include util-all('d-flex-wrap') {
  flex-wrap: wrap;
}
@include util-all('d-flex-no-wrap') {
  flex-wrap: nowrap;
}
@include util-all('d-flex-wrap-reverse') {
  flex-wrap: wrap-reverse;
}
@include util-all('d-flex-grow-0') {
  flex-grow: 0;
}
@include util-all('d-flex-grow-1') {
  flex-grow: 1;
}
@include util-all('d-flex-shrink-0') {
  flex-shrink: 0;
}
@include util-all('d-flex-shrink-1') {
  flex-shrink: 1;
}
@include util-all('d-flex-basis-0') {
  flex-basis: 0;
}
@include util-all('d-flex-basis-auto') {
  flex-basis: auto;
}
@include util-all('d-flex-none') {
  flex: none;
}
@include util-all('d-flex-1') {
  flex: 1;
}
// Flex has official support for `gap` property but it's not yet ready for production.
// In the future, we can use that property instead.
@for $i from 1 through $space-max-level {
  @include util-all('d-flex-gap-#{$i * $space-unit}:not(.d-flex-col)') {
    margin-top: -#{$i * $space-unit}px;
    margin-left: -#{$i * $space-unit}px;

    & > * {
      margin-top: #{$i * $space-unit}px;
      margin-left: #{$i * $space-unit}px;
    }
  }

  @include util-all('d-flex-gap-#{$i * $space-unit}.d-flex-col') {
    & > * + * {
      margin-top: #{$i * $space-unit}px;
    }
  }
}

@include util-all('d-inline-flex', true) {
  display: inline-flex !important;
}
@include util-all('d-flex', true) {
  display: flex !important;
}
@include util-all('d-flex-row', true) {
  flex-direction: row !important;
}
@include util-all('d-flex-row-reverse', true) {
  flex-direction: row-reverse !important;
}
@include util-all('d-flex-col', true) {
  flex-direction: column !important;
}
@include util-all('d-flex-col-reverse', true) {
  flex-direction: column-reverse !important;
}
@include util-all('d-flex-wrap', true) {
  flex-wrap: wrap !important;
}
@include util-all('d-flex-no-wrap', true) {
  flex-wrap: nowrap !important;
}
@include util-all('d-flex-wrap-reverse', true) {
  flex-wrap: wrap-reverse !important;
}
@include util-all('d-flex-grow-0', true) {
  flex-grow: 0 !important;
}
@include util-all('d-flex-grow-1', true) {
  flex-grow: 1 !important;
}
@include util-all('d-flex-shrink-0', true) {
  flex-shrink: 0 !important;
}
@include util-all('d-flex-shrink-1', true) {
  flex-shrink: 1 !important;
}
@include util-all('d-flex-basis-0', true) {
  flex-basis: 0 !important;
}
@include util-all('d-flex-basis-auto', true) {
  flex-basis: auto !important;
}
@include util-all('d-flex-none', true) {
  flex: none !important;
}
@include util-all('d-flex-1', true) {
  flex: 1 !important;
}
